@font-face {
    font-family: DGF;
    src: url(../Fuentes/DragonBallFighterz-Regular.ttf);
}
body {
     margin: 0px;
      padding: 0px;
     }
.fondo { 
    background-image: url("../imagenes/seleccionpj/fondobatalla.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.container { 
    display: flex;
    position: absolute; 
    height: 100vh; width: 100vw;
    top: 0%; 
    flex-direction: row;
    justify-content: space-around;
}
.marcadorVida { 
    height: 61rem;
     width: 115rem;
}
.personajes { height: 140rem;
     width: 59rem;
}
.jugador1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.vs{
    display: flex;
    height: 100%;
    width: 63rem;
    flex-direction: column;
    justify-content: center;
}
.jugador2 { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
span {
    font-family: dgf;
    font-size: 20rem;
    color: #000000d9;
    position: absolute;
    margin-top: 1.5em;
    margin-right: 2em;
}
.botonera {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2em;
    width: 30rem;
    height: 14rem;
    
}

.botonera button{
height: 15rem;
width: 15rem;
border: double 26px rgb(241, 239, 239);
background-color: rgb(97, 20, 20);
border-radius: 50%;
color: black;
font-size: 15rem;
font-family: dgf;
}
.personajeYboton{display: flex;flex-direction: row;}
