@font-face {
    font-family: DGF;
    src: url(../Fuentes/DragonBallFighterz-Regular.ttf);
}
body {
     margin: 0px;
      padding: 0px;
     }
.fondo { 
  
}
.contenedor-batalla { 
    background-image: url("../imagenes/seleccionpj/fondobatalla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    height: 100vh;
    width: 100vw; 
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}
.marcadorVida {
    height: 19rem;
    width: 36rem;
}
.personajes {
     height: 44rem;
     width: 18rem;
}
.jugador1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.vs{
    display: flex;
    height: 100%;
    width: 18rem;
    flex-direction: column;
    justify-content: center;
}
.jugador2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
span {
    font-family: dgf;
    font-size: 6rem;
    color: #000000d9;
    position: absolute;
    margin-top: 1.5em;
    margin-right: 2em;
}
.botonera {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 11rem;
    height: 7rem;
}

.botonera button{height: 5rem;width: 5rem;border: double 10px rgb(241, 239, 239);background-color: rgb(97, 20, 20);border-radius: 50%;color: black;font-size: 5rem;font-family: dgf;}
.personajeYboton{display: flex;flex-direction: row;}
