/* ----------------------- PANTALLA JUGADOR GANADOR -------------------- */

.contenedor-ganador {
    display: none;
    flex-direction: column;
    background-image: url(../imagenes/seleccionpj/winner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
.hasganado {
    display: flex;
    width: 100vw;
    height: 20em;
    left: 0;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}
.hasganado img {
    height: 10em;
    width: 37em;
    margin-right: 5em;
}
.jugador-ganador{
    display: flex;
    height: 35em;
    width: 100vw;
    align-items: flex-end;
    margin-bottom: 2em;
    justify-content: space-around;
}
.personaje-ganador{
    height: 33em;
    width: 23em;
}
.repetirJuego{
    height: 10em;
    width: 34em;
}
.repetirJuego button{
    background-image: url(../imagenes/titulos/volveraJugar.png);
    background-size: cover;
    font-family: dgf;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
    width: 44em;
    height: 8em;
}
.repetirJuego button a{
    font-size: 4em;
    text-decoration: none;
    color: blue;
}