@font-face {
    font-family: DGF;
    src: url(../Fuentes/DragonBallFighterz-Regular.ttf);
}
body{
    margin: 0;
    padding: 0;
}
.fondo-inicio{
    background-image: url(../imagenes/titulos/fondohome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}
.start-inicio{
    font-family: dgf;
    display: flex;
    height: 10em;
    width: 56em;
    background-image: url(../imagenes/titulos/TITLE_GKS.png);
    background-size: cover;
    color: black;
    z-index: 1;
    flex-direction: row;
    justify-content: center;
}
.start-inicio button{
    z-index: 2;
    color: black;
    background-color: rgba(255, 0, 0, 0);
    border: 0px;
    width: 30em;
    height: 10em;
}   
.start-inicio button a {
    text-decoration: none;
    font-family: dgf;
    color: black;
    font-size: 10em;
    margin-left: 1.5em;
}