body{
    margin: 0;
    padding: 0;
}
/* -------------------------- PANTALLA DE SELECCION DE PERSONAJE --------------------- */
.contenedor-seleccion {
    display: flex;
    justify-content: space-between;
    background-image: url(../imagenes/seleccionpj/fondoshenron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
/* ---------------------- BANNER SELECCIONADO ------------------------ */
#bannerSeleccionado1{
    height: 32em;
    width: 11em;
    margin: 9em 1em;
}
#bannerSeleccionado2{
    height: 32em;
    width: 14em;
    margin: 9em 1em;
}
.selPj {
    width: 37rem;
}
.seleccionPj {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.bannerPj {
    height: 7rem;
    width: 40rem;
    margin: 26px 0px;
}
.numeroJugador img {
    width: 9em;
}
