body{
    margin: 0;
    padding: 0;
}
.fondo{
    background-image: url(../imagenes/seleccionpj/fondoshenron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}
.container {
    display: flex;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0%;
    justify-content: space-between;
}

.selPj {
    height: 54rem;
    width: 152rem;
    margin-top: 23em;
}
.seleccionPj {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bannerPj {
    height: 24rem;
    width: 145rem;
    margin: 30px 0px;
}
.bannjerPj:hover {
    background-color: brown;
}
